@import "./base";

.x-button {
    width: fit-content;
    padding: $defaultPaddingTop $defaultPaddingLeft;
    cursor: pointer;
    border-radius: $borderRadius;
}

.x-button--default {
    color: $defaultTextColor;
    background-color: $defaultBackground;
    border: $defaultBorderWidth solid $defaultBorderColor;

    &:hover {
        background-color: $defaultHoverColor;
    }
}
