$primaryBackground: #409eff;
$primaryHoverColor: #3375b9;
$primaryActiveColor: #66b1ff;
$primaryTextColor: #fff;
$defaultBackground: transparent;
$defaultHoverColor: #e6e6e6;
$defaultActiveColor: #fff;
$defaultTextColor: #333;
$defaultBorderColor: #e6e6e6;
